<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Documents/GitHub/my_notes/styles/note_style.css" rel="stylesheet" type="text/css">
    <link href="/Users/home/Documents/GitHub/my_notes/styles/note_style.css" rel="stylesheet" type="text/css">
    <link href="/my_notes/styles/note_style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(function(){
        $(".navi_bar").load("../navigation/navi_bar.html");
      });
    </script>
    <title>Linux Cmd</title>
    <style>
      header{ background-image: linear-gradient( 90deg, #21618C 10%, #229954 100%); }
    </style>
  </head>
<!--------------------------------------------------------------------------------> 
  <body>
    <header>
    </header>
    <div class="navi_bar" style="margin: 0; padding: 0;">
    </div>
<!-------------------------------------------------------------------------------->  
    <div>
      <h1></h1>
      <h2></h2>
      <h3></h3>
      <P></P>
      <img class="big" src="images/1.jpg" alt="">
      <p class="bigcap"></p>
      <div class="row">
        <div class="column2">
          <ol>
           <li></li>
           <li></li>
           <li></li>
         </ol>
        </div>
        <div class="column2">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div>
      <h1></h1>
      <p></p>
    </div>

  </body>
</html>




























