<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>template</title>
    <link href="../../styles/note_style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      header{ background: url(images/header.jpg) no-repeat center; }
    </style>
  </head>
  <body>
    
    <header>
    </header>
 
      <div>
        <h1></h1>
        <h2></h2>
        <h3></h3>
        <P></P>
        <img class="big" src="images/1.jpg" alt="">
        <p class="bigcap"></p>
        <div class="row">
          <div class="column2">
            <ol>
             <li></li>
             <li></li>
             <li></li>
           </ol>
          </div>
          <div class="column2">
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div>
        <h1></h1>
        <p></p>
      </div>

  </body>
</html>




























