      *{ /* width和height的範圍包含padding和border，但不包含margin */
        box-sizing: border-box;
      }  
      html {
        background-color: gray;
        font-size: 100%;
        color: #424949; /* 內文一般文字，深灰色 */
      }
      body{
        max-width: 70em;
        margin: 0 auto 5em auto;
      }
      header {
        height: 9.375em;
      }
      div {
        float: none;
        padding: 2px;
        margin: 0;     
        background-color: #EAEDED; /*light-gray*/
      }
      /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  height: 300px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: lime;
  padding: 10px;b 
  text-align: center;
}
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}