/*字體-------------------------------------------------------------*/
  @font-face{ /* 日系，有角 */
    font-family: makinas; 
    src: url(../fonts/cht/Makinas-4-Square.otf);
  } 
  @font-face{ /* 標題英文 */
    font-family: ti-eng; 
    src: url(../fonts/eng/MavenPro-Medium.ttf);
  }
  @font-face{ /* Paragraph用的字體，英&中 */
    font-family: para; 
    src: url(../fonts/NotoSansTC-Regular.otf);
  }
/*板塊-------------------------------------------------------------*/
  *{ /* width和height的範圍包含padding和border，但不包含margin */
    box-sizing: border-box; }
  html{ /* html底色灰色，內文一般文字，碳灰色 */
    background-color: gray;
    font-family: para,'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    font-size: 100%;
    color: #424949; 
  }
  body{
    max-width: 60em;
    margin: 0 auto;
    padding: 0 2% 1em 2%; /* 底邊灰色的闊度 */
  }
  header{ 
    min-height: 9.375em; 
    margin: 0;
    padding: 0;
  }
/*內文-------------------------------------------------------------*/
  div{ 
    margin: 0;
    padding: 1em 0 2em 0; /* 總上下空間 */
    max-width: 60em; /* 跟隨body */
    background-color: white;
  }
  .block{
    float: top;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0 2% 0 4%; /* 總左右空間 */
  }
  li{
    margin: 0;
    padding: 0;
    min-height: 9em; /* 小頭目(.navi_a)的最小高度，標準是三行小頭目看起來樣子 */
  }
  a{
    color: #2471A3; 
    text-decoration: none;
  }
  a:hover:not(.navi_a){
    text-decoration: underline;
  }
/*//////////////////////////////////////////*/
  .navi_a{ /* 小頭目 */
    display: block;
    float: left;
    max-width: 5em; /* 要他自動隔行 */
    padding: 0.9em 0 0 0; /* 與上實線空間 */
    color: #229954;
    border-top: solid;
    font-size: 1.5em;
    line-height: 1.1;
    cursor: default;
  }
  .drop_content a{
    display: block;
    margin: 0.3em 2% 0 45%; /* 與右邊空白，與小頭目距離 */
    padding: 0 0.3em 0 0.3em; /* 虛線格內的空間 */
    border-style: dotted;
    border-width: 0.02em;
  }
/*//////////////////////////////////////////*/
  p{ /* 因為title用到p，所以為了一致，tree都加這句 */
    line-height: 1.6;
    margin: 0;
    padding: 0.4em 0.6em 0 0.6em;
  }
  p#title{
    font-family: ti-eng, makinas;
    font-size: 3em;
    color: white;
    text-align: right;
    margin: 0;
    padding: 1.4em 0.5em 0 0.5em;
  }
  span.navi_span_home .drop_content a{
    color: grey;
  }
  span.navi_span_home a.navi_a{
    color: #646666;
  }
/*-------------------------------------------------------------*/