/*字體-------------------------------------------------------------*/
  @font-face{ /* 日系，有角 */
    font-family: makinas; 
    src: url(../fonts/cht/Makinas-4-Square.otf);
  } 
  @font-face{ /* 標題英文 */
    font-family: ti-eng; 
    src: url(../fonts/eng/MavenPro-Medium.ttf);
  } 
  @font-face{ /* 源流明體, h1*/
    font-family: h1; 
    src: url(../fonts/cht/GenRyuMinTW-Heavy.ttf);
  }
  @font-face{ /* 源流明體(幼), h2*/
    font-family: h2; 
    src: url(../fonts/cht/GenRyuMinTW-Bold.ttf);
  }
  @font-face{ /* Paragraph用的字體，英&中 */
    font-family: para; 
    src: url(../fonts/NotoSansTC-Regular.otf);
  }
  @font-face{ /* Code用的字體 */
    font-family: code; 
    src: url(../fonts/UbuntuMono-Regular.ttf);
  }
/*大圍-------------------------------------------------------------*/
  *{ /* width和height的範圍包含padding和border，但不包含margin */
    box-sizing: border-box; }
  html{ /* html底色灰色，內文一般文字，碳灰色 */
    background-color: gray;
    font-family: para;
    font-size: 100%;
    color: #424949; 
  }
  header{ 
    min-height: 9.375em; 
  }
  body{
    max-width: 60em;
    margin: 0 auto;
    padding: 0 1em 1em 1em;
  }
/*內文-------------------------------------------------------------*/
  #title{
    font-family: ti-eng, makinas;
    text-align: right;
    margin: 0;
    padding: 1.4em 1.5em 0 0;
    font-size: 3em;
    color: white;
  }
  div{        
    margin: 0;
    padding: 0.1em;
    background-color: white;
  }
  div.drop-content{
    padding: 0;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li.navi{ /* 小頭目 */
    padding: 0.1em 5em 0.1em 5em;
    color: #15955c;
    font-size: 1.2em;
  }
  a{ /* item */
    display: block;
    color: #2471A3; 
    margin: 0.5em 0 0.5em 0;
    padding: 0.1em 0.3em 0.1em 0.3em;
    text-decoration: none;
    border-style: dotted;
    border-width: 0.01em;
  }
  a:hover{
    text-decoration: underline;
  }
<<<<<<< HEAD
=======
  ul, li{
    line-height: 1.6;
    margin: 0 auto 0 1em;
    padding: 0 5% 0 5%;
  }
  li{
    display: block;
    float: left;
  }
>>>>>>> parent of f6c32f1... 5
/*-------------------------------------------------------------*/